.booking-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.booking-form select,
.booking-form input {
  padding: 14px;
  font-size: 16px;
  border-radius: 12px;
  border: 1px solid #ccc;
}

.confirm-btn {
  background: black;
  color: white;
  padding: 16px;
  border-radius: 14px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  pointer-events: auto;
  z-index: 9999;
  position: relative;
}
