.barbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 40px;
}

.barber-card {
  background: #111;
  border-radius: 16px;
  padding: 16px;
  text-align: center;
  color: white;
}

.barber-photo {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  border-radius: 12px;
}

.barber-card button {
  margin-top: 12px;
  padding: 10px 16px;
  border-radius: 12px;
  background: #fbbf24;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #000;
}

@media (max-width: 900px) {
  .barbers {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .barbers {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .barber-card h3 {
    font-size: 22px; /* имя барбера больше */
  }

  .barber-card p {
    font-size: 16px; /* специализация больше */
  }

  .barber-card button {
    font-size: 18px; /* текст "Записатись" больше */
    padding: 14px 20px; /* кнопка выше и шире */
    width: 100%; /* удобно для пальца */
  }
}
